.plus-share-hover {
    /*background: #fbfbfb;*/
    background-color: #fbfbfb;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d8d7;
    /*border: 1px solid #d7d8d7;*/
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /*padding: 20px;*/
    /*padding: 20px 20px 20px 20px;*/
    height: 300px;
    font-family: Arial;
    position: relative;
}

.tile-news-rubric {
    color: #193cb0;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.tile-news-title {
    display: block;
    color: #03275f;
    font-size: 30px;
    line-height: 1.125;
    text-decoration: none;
}

.tile-news-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tile-news-info {
    position: absolute;
    z-index: 2;
}

.plus-share {
    opacity: 0;
    /*transition: opacity 2s;*/
    /*display: none;*/
    /*visibility: hidden;*/

    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
}

.plus-share-hover:hover .plus-share {
    opacity: 1;
    /*display: block;*/
    /*visibility: visible;*/
}

.tile-news:hover .tile-news-img {
    background: #f3f3f3;
}